#centerlogin{
	margin-top:15%;
	text-align:center;
	border:solid;
	margin:15% 31%;
}

#registercss{
	margin: 14% 31%;
    TEXT-ALIGN: CENTER;
}

.inputR{
	margin:1%;
}

#register_table{
	text-align:center;
	margin-left:31%;
}

.form1{
	text-align:center;

	border:solid;
	margin:20% 39% 0%;
}

#user_table{
	text-align:center;
	margin-left:44%;
	border:solid;
	margin-top:5%;
}

#user_table tr
{
	border:solid;
}

#checkoutdiv{
	margin:1% 41%;
}

#checkoutdiv 

